@{
    ViewBag.Title = "About Us";
}

<h2 style="color:purple">@ViewBag.Title.</h2>
<p style="font-size:17px">@ViewBag.Message</p>

<h3 style="color:palevioletred">Links:</h3>
<div>
    <ul>
        
        <li><a href="https://web.facebook.com/fatimaAfzaal29/"><i style="font-size:15px"></i>Facebook</a></li>
        <li><a href="https://twitter.com/FatimaA60003783"><i style="font-size:15px"></i>Twitter</a></li>
        

    </ul>

</div>