@{
    ViewBag.Title = "Contact Us";
}
<h2 style="color:purple">@ViewBag.Title.</h2>
<p style="font-size:17px">@ViewBag.Message</p>

<address>
    <strong>Email:</strong>   <a href="mailto:fatimaafzaal2002@gmail.com">fatimaafzaal@gmail.com</a>.<br>
    <strong>Phone:</strong>   <a href="tel:+923105425910">call</a>.<br>
    <strong>Linked-in:</strong>   <a href="https://www.linkedin.com/in/fatima-afzaal-2169b7230/">FatimaAfzaal</a>.<br>
</address>
